.navbar {
    align-items: center;
    padding-left: 50px !important;
    padding-right: 50px !important;
    background-color: #ffffff;
    display: flex; /* Make navbar items stack horizontally */
    justify-content: space-between; /* Add space between items */
 }
.navbar-nav .nav-link {
    margin-right: 30px; /* Adjust the margin as needed */
  }
.body-holder {
    padding-left: 200px !important; 
    padding-right: 200px !important;
}
.left-body-content {
    padding-right: 200px;
}
.right-body-content {
    white-space: nowrap;
}
.right-body-content p{
    white-space: nowrap;
    font-size: 20px;
}
.socials i {
    font-size: 36px;
    transition: transform 0.3s ease;
    position: relative; 
    margin-left: 30px;
}
.socials i:hover {
    transform: scale(1.2);
}